@{
    ViewData["Title"] = "Home Page";
}

    <link rel="stylesheet" href="~/css/creditos.css" asp-append-version="true" />
<body>
    <div class="creditos-container">
        <div class="card">
            <div class="card-content">
                <h2>Ezequiel Gajer</h2>
                <p>Front-End</p>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <h2>Francisco Dominguez</h2>
                <p>Back-End</p>
            </div>
        </div>
    </div>
</body>
</html>
