@{
    ViewData["Title"] = "Home Page";
}

    <link rel="stylesheet" href="~/css/creditos.css" asp-append-version="true" />
<body>
    <div class="creditos-container">
        <div class="card">
            <div class="card-content">
                <h2>Nombre Apellido</h2>
                <p>Rol 1, Rol 2</p>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <h2>Nombre Apellido</h2>
                <p>Rol 1, Rol 2</p>
            </div>
        </div>
    </div>
</body>
</html>
