@{
    ViewData["Title"] = "Elecciones en Argentina 2023";
}

   <link rel="stylesheet" href="~/css/elecciones.css" asp-append-version="true" />

<div class="elections-container">
    <h2 class="elections-title">Elecciones en Argentina 2023</h2>

    <div class="elections-info">
        <p>En las elecciones presidenciales de Argentina que se llevarán a cabo en 2023, se votará para elegir:</p>
        <ul class="elections-list">
            <li>Presidente de la Nación</li>
            <p>El presidente es el jefe supremo de la Nación, jefe de gobierno y responsable político de la administración general del país. Está a cargo de la política exterior del país y tiene la representación del Estado en el interior y en el exterior</p>
            <li>Vicepresidente de la Nación</li>
            <p>El Vicepresidente funciona como un nexo entre los poderes ejecutivo y legislativo, ya que también preside el Senado de la Nación. Preside la Asamblea Legislativa en caso de una sesión extraordinaria que requiera la participación conjunta de las dos Cámaras (Senado y Diputados) y reemplaza al presidente en caso de ausencia temporaria o definitiva por incapacidad, muerte o renuncia</p>
            <li>Diputados Nacionales</li>
            <p>Los diputados nacionales tienen la función de legislar y representar a los ciudadanos en el Congreso Nacional. Se encargan de representar a los ciudadanos de su distrito electoral, defender los derechos sociales y proponer soluciones a los problemas que aquejan a su distrito y además de regular, frenar y vigilar que se implementen correctamente las políticas públicas</p>
            <li>Senadores Nacionales</li>
            <p>Los senadores nacionales tienen la función de legislar y representar a los ciudadanos en el Congreso Nacional. Se encargan de legislar y aprobar leyes que reglamentan la conducta de la sociedad. También representan a los ciudadanos de su distrito electoral, juzgan a los acusados por la Cámara de Diputados y eligen a los jueces de la Corte Suprema de Justicia de la Nación</p>
            <li>Gobernadores Provinciales</li>
            <p>Los gobernadores provinciales se encargan de ejercer la función gubernativa de formulación y dirección de las políticas de la provincia, como también de determinar los objetivos y seleccionar los medios para su cumplimiento. También coordinan con los alcaldes y otros funcionarios públicos para implementar políticas públicas</p>
            <li>Diputados Provinciales</li>
            <p>Los diputados provinciales son representantes elegidos por los ciudadanos de una provincia para formar parte de la Diputación Provincial, un órgano que se encarga de administrar los intereses de la provincia y colaborar en la gestión de la actividad municipal</p>
            <li>Senadores Provinciales</li>
            <p>Los senadores provinciales son representantes elegidos por los ciudadanos de una provincia para formar parte de la Cámara de Senadores o Senado Provincial, un órgano que se encarga de administrar los intereses de la provincia y colaborar en la gestión de la actividad municipal.</p>
            <li>Intendentes Municipales</li>
            <p>Los intendentes municipales se encargan de ejercer la representación legal de la municipalidad, de promulgar las ordenanzas y resoluciones, cumplirlas y reglamentarlas, o en su caso, vetarlas, de gestionar los servicios y obras de competencia provincial y de coordinar con los alcaldes y otros funcionarios públicos para implementar políticas públicas.</p>
            <li>Concejales Municipales</li>
            <p>Los concejales municipales se encargan de participar en la elaboración y aprobación de normas y reglamentos municipales, de tomar decisiones y resolver asuntos de interés municipal, de fiscalizar la gestión del alcalde y el cumplimiento de las políticas, normas y acuerdos adoptados por el municipio y tanto de promover como de facilitar la participación de la comunidad en la toma de decisiones y en la gestión municipal</p>
        </ul>
    </div>
</div>

