header nav a {
  text-decoration: none;
  padding: 30px;
  list-style: none;
  font-size: 20px;
  color: rgb(255, 255, 255);
}


.Lista {
  display: flex;
  list-style: none;
  margin: 65px;
  margin-left: 185px;
}



header nav {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
}

.logo {
  margin: 30px;
  margin-top: 17px;
  margin-left: 100px;
  margin-right: 255px;
}

.logo img {
  width: 130px;
  border-radius: 50%;
}